<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Doc Template</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/media.css"> 
    </head>
    <body>
        <div id="doc-container">
            <div id="doc-content">
                <div id="doc">
                    <div id="doc-header">
                        <h3 id="doc-alias">|ALIAS: ALIAS_NAME|</h3>
                        <h3 id="doc-date">|DATE: DOC_DATE|</h3>
                        <h1 id="doc-name">|DOC: DOC_NAME|</h1>
                    </div>
                    <textarea id="doc-body" placeholder="Get those knuckles cracking and start typing..." autofocus=""></textarea>
                </div>
                <button id="doc-save-btn" type="button">|SAVE|</button>
            </div>
        </div>
        <script src="../js/navigation.js"></script>
    </body>
</html>

