<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Docboard Template</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/media.css"> 
    </head>
    <body>
        <div id="doc-container">
            <div id="doc-content">
                <button id="docboard-logout-btn" class="directory-btn" type="button">|LOGOUT|</button>
                <div id="docboard">
                    <div id="docboard-header">
                        <h1>|DOCBOARD|</h1>
                        <h3 id="docboard-alias"> >>> |ALIAS: DOC_ALIAS|</h3>
                    </div>
                    <h2>ARCHIVE</h2>
                    <div id="docboard-docs">
                        <button id="docboard-createdoc" class="docboard-mydoc">+</button>
                        <button class="docboard-mydoc">1</button>
                        <button class="docboard-mydoc">2</button>
                        <button class="docboard-mydoc">3</button>
                        <button class="docboard-mydoc">4</button>
                        <button class="docboard-mydoc">5</button>
                        <button class="docboard-mydoc">6</button>
                        <button class="docboard-mydoc">7</button>
                        <button class="docboard-mydoc">8</button>
                        <button class="docboard-mydoc">9</button>
                        <button class="docboard-mydoc">10</button>
                        <button class="docboard-mydoc">11</button>
                        <button class="docboard-mydoc">12</button>
                        <button class="docboard-mydoc">13</button>
                        <button class="docboard-mydoc">14</button>
                        <button class="docboard-mydoc">15</button>
                        <button class="docboard-mydoc">16</button>
                        <button class="docboard-mydoc">17</button>
                        <button class="docboard-mydoc">18</button>
                        <button class="docboard-mydoc">19</button>
                        <button class="docboard-mydoc">20</button>
                    </div>
                    <h2>DOC FEED</h2>
                    <div id="docboard-feed">
                        <div class="docboard-feeddoc">1</div>
                        <div class="docboard-feeddoc">2</div>
                        <div class="docboard-feeddoc">3</div>
                        <div class="docboard-feeddoc">4</div>
                        <div class="docboard-feeddoc">5</div>
                        <div class="docboard-feeddoc">6</div>
                        <div class="docboard-feeddoc">7</div>
                        <div class="docboard-feeddoc">8</div>
                        <div class="docboard-feeddoc">9</div>
                        <div class="docboard-feeddoc">10</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/navigation.js"></script>
    </body>
</html>

