<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Docboard Template</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/media.css"> 
    </head>
    <body>
        <div id="doc-container">
            <div id="doc-content">
                <button id="directory-btn" type="button">|DIRECTORY|</button>
                <div id="docboard">
                </div>
            </div>
        </div>
        <script src="../js/navigation.js"></script>
    </body>
</html>

