<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Docboard Template</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/media.css"> 
    </head>
    <body>
        <div id="doc-container">
            <div id="doc-content">
                <button id="docboard-logout-btn" class="directory-btn" type="button">|LOGOUT|</button>
                <div id="docboard">
                    <div id="docboard-header">
                        <h1>|DOCBOARD|</h1>
                        <h3 id="docboard-alias"> >>> |ALIAS: DOC_ALIAS|</h3>
                    </div>
                    <h2>ARCHIVE</h2>
                    <div id="docboard-docs">
                        <div id="docboard-createdoc" class="docboard-mydoc"><div>+</div></div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                        <div class="docboard-mydoc">
                            <div>
                                <div class="docboard-doc-title">There is a girl whose name is Emilian, and she loves blueberry cookies and crispy, honey bacon.</div>
                                <div class="docboard-doc-date">11/10/17</div>
                                <div class="docboard-doc-rating">Not Finalized</div>
                            </div>
                        </div>
                    </div>
                    <h2>DOC FEED</h2>
                    <div id="docboard-feed">
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                        <div class="docboard-feeddoc">
                            <div>
                                <div class="docboard-doc-title">I can't believe it is butter - grandiose.</div>
                                <div class="docboard-doc-alias">|LipidLover44|</div>
                                <div class="docboard-doc-date">1/4/17</div>
                                <div class="docboard-doc-rating">+23 Rating</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/navigation.js"></script>
    </body>
</html>

