<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Docit Template</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/media.css"> 
    </head>
    <body>
        <div id="doc-container">
            <div id="doc-content">
                <button id="docit-directory-btn" class="directory-btn" type="button">|DIRECTORY|</button>
                <div id="docit-directory" class="directory">
                    <div id="docit-directory-save-btn" class="directory-opt">|SAVE|</div>
                    <div id="docit-directory-publish-btn" class="directory-opt">|PUBLISH|</div>
                    <div id="docit-directory-export-btn" class="directory-opt">|EXPORT|</div>
                    <div id="docit-directory-delete-btn" class="directory-opt">|DELETE|</div>
                    <div id="docit-directory-todocboard-btn" class="directory-opt">|DOCBOARD|</div>
                    <div id="docit-directory-logout-btn" class="directory-opt">|LOGOUT|</div>
                </div>
                <div id="docit" class="doc">
                    <div id="docit-header" class="doc-header">
                        <h3 id="docit-alias" class="doc-alias">ALIAS: RandomAliasName</h3>
                        <h3 id="docit-date" class="doc-date">DATE: Mar 23 2017</h3>
                        <div><h1 class="doc-name">DOC: <input id="docit-name" type="text" placeholder="Untitled"></h1></div>
                    </div>
                    <textarea id="docit-body" class="doc-body" rows="10" cols="10" placeholder="Get those knuckles cracking and start typing..." autofocus></textarea>
                </div>
            </div>
        </div>
        <script src="../js/navigation.js"></script>
    </body>
</html>

