<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Doc Template</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/media.css"> 
    </head>
    <body>
        <div id="doc-container">
            <div id="doc-content">
                <button id="directory-btn" type="button">|DIRECTORY|</button>
                <div id="docit">
                    <div id="docit-header">
                        <h3 id="docit-alias">|ALIAS: ALIAS_NAME|</h3>
                        <h3 id="docit-date">|DATE: DOC_DATE|</h3>
                        <h1 id="docit-name">|DOC: DOC_NAME|</h1>
                    </div>
                    <textarea id="docit-body" rows="10" cols="10" placeholder="Get those knuckles cracking and start typing..." autofocus></textarea>
                </div>
            </div>
        </div>
        <script src="../js/navigation.js"></script>
    </body>
</html>

