<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index Template</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/media.css"> 
    </head>
    <body>
        <div id="doc-container">
            <div id="doc-content">
                <div id="signup-container">
                    <h1>|DOCIT|</h1>
                    <h2>Imagine your own |ALIAS| with its own style and character. Now, create it!</h2>
                    <form id="signup-form">
                        <h3>My considerably professional, yet eccentric new |ALIAS| is</h3>
                        <input id="login-alias" type="text" required="true" placeholder="type alias">!
                        <h3>My new cryptic password is</h3>
                        <input id="login-password" type="password" required="true" placeholder="type password">.
                        <h3>And just to make sure I got that right, the password was</h3>
                        <input id="login-password-confirm" type="password" required="true" placeholder="retype password">.
                        <h3>OK, good enough. Let's do it.</h3>
                        <button type="submit">|CREATE|</button>
                    </form>
                    <div id="signup-navigation">
                        <p>Forget it. Let's go</p>
                        <button id='signup-navigation-btn' type="button">back</button>.
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/navigation.js"></script>
    </body>
</html>

