<div id="doc-container" controller="DocitController as DocitC">
    <div id="doc-content">
        <button id="docit-directory-btn" class="directory-btn" type="button" title="Directory options.">|DIRECTORY|</button>
        <div id="docit-directory" class="directory highlight-disabled">
            <div id="docit-directory-copy-btn" 
                 class="directory-opt" 
                 title="Copy Doc's alias, date, title and body to clipboard."
                 ng-click="DocitC.copyDoc()">|COPY|</div>
            <div id="docit-copytext" class="copytext"> {{ DocitC.copyText }}</div>
            
            <div id="docit-directory-save-btn" 
                 class="directory-opt" title="Save Doc's current progress." 
                 ng-show="DocitC.showAuthorBtns"
                 ng-click="DocitC.saveDoc()">|SAVE|</div>
            
            <div id="docit-directory-publish-btn" 
                 class="directory-opt" 
                 title="Finalize and publish Doc to public Doc Feed." 
                 ng-show="DocitC.showAuthorBtns"
                 ng-click="DocitC.publishDoc()">|PUBLISH|</div>
            
            <div id="docit-directory-export-btn" 
                 class="directory-opt" 
                 title="Export Doc as local .txt file."
                 ng-click="DocitC.exportDoc()">|EXPORT|</div>
            
            <div id="docit-directory-delete-btn" 
                 class="directory-opt" 
                 title="Delete Doc."
                 ng-click="DocitC.deleteDoc()">|DELETE|</div>
            
            <div id="docit-directory-todocboard-btn" 
                 class="directory-opt" 
                 title="Go to Docboard."
                 ng-click="changePage('docboard')">|DOCBOARD|</div>
            
            <div id="docit-directory-logout-btn" 
                 class="directory-opt" 
                 title="Log out current Alias."
                 ng-click="changePage('login')">|LOGOUT|</div>
        </div>
        
        <div id="docit" class="doc">
            <div id="docit-header" class="doc-header">
                <h3 id="docit-alias" class="doc-alias">ALIAS: {{ DocitC.docAlias }} </h3>
                <h3 id="docit-date" class="doc-date">DATE: {{ DocitC.docDate }} </h3>
                <div>
                    <h1 class="doc-name">DOC: 
                        <input id="docit-title" type="text" placeholder="Untitled" 
                               ng-model="DocitC.docName">
                    </h1>
                </div>
            </div>
            <textarea id="docit-body" class="doc-body" rows="10" cols="10" 
                      placeholder="Get those knuckles cracking and start typing..." autofocus> {{ DocitC.docBody }}</textarea>
        </div>
    </div>
</div>