<div id="doc-container" ng-controller="DocitController" ng-init="init()">
    <div id="doc-content">
        <button class="directory-btn"
                type="button"
                title="Directory options."
                ng-show="!mainCtrl.directoryShow"
                ng-click="toggleDirectory()">|DIRECTORY|</button>
        
        <div class="directory highlight-disabled" ng-show="mainCtrl.directoryShow">
            
            <div class="directory-opt" 
                 title="Copy Doc's alias, date, title and body to clipboard."
                 ng-click="copyDoc()">|COPY|</div>
            <textarea id="docit-copytext" class="copytext"></textarea>
            
            <div class="directory-opt" title="Save Doc's current progress."
                 ng-show="showAuthorBtns"
                 ng-click="saveDoc()">|SAVE|</div>
            
            <div class="directory-opt" 
                 title="Finalize and publish Doc to public Doc Feed."
                 ng-show="showAuthorBtns"
                 ng-click="publishDoc()">|PUBLISH|</div>
            
            <div class="directory-opt" 
                 title="Export Doc as local .txt file."
                 ng-click="exportDoc()">|EXPORT|</div>
            
            <div class="directory-opt" 
                 title="Delete Doc."
                 ng-click="deleteDocAction()">|DELETE|</div>
            
            <div class="directory-opt" 
                 title="Go to Docboard."
                 ng-click="changePage('docboard')">|DOCBOARD|</div>
            
            <div class="directory-opt" 
                 title="Log out current Alias."
                 ng-click="changePage('login')">|LOGOUT|</div>
            
        </div>
        
        <div id="docit" class="doc">
            <div id="docit-header" class="doc-header">
                <h3 id="docit-alias" class="doc-alias">ALIAS: {{docAlias}} </h3>
                <h3 id="docit-date" class="doc-date">DATE: {{docDate}} </h3>
                <div>
                    <h1 class="doc-name">DOC: 
                        <input id="docit-title" type="text" placeholder="Untitled" 
                               ng-model="docTitle">
                    </h1>
                </div>
            </div>
            <textarea id="docit-body" class="doc-body" rows="10" cols="10" 
                      placeholder="Get those knuckles cracking and start typing..." 
                      autofocus ng-model="docBody"></textarea>
        </div>
        
    </div>
</div>