<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,height=device-height initial-scale=1 maximum-scale=1">

        <!-- CSS-->
        <link rel="stylesheet" type="text/css" href="../css/style.css"> <!-- custom styles -->
        <link rel="stylesheet" type="text/css" href="../css/media.css"> <!-- media styles -->

    </head>
    <body>
        <div id="doc-container">
            <div id="doc-content">
                <button class="directory-btn"
                        type="button"
                        title="Directory options."
                        >|DIRECTORY|</button>

                <div id="docnotes" class="doc">
                    <div id="docnotes-header" class="doc-header highlight-enabled">
                        <h3 id="docnotes-alias" class="doc-alias highlight-enabled">ALIAS: das das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad as</h3>
                        <h3 id="docnotes-date" class="doc-date"> DATE: 11/02/2046</h3>
                        <div id="docnotes-title" class="doc-title">
                            |<div id="docnotes-rating" class="doc-rating">+2</div>| DOC: asd asd as das das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdasd asd a</div>
                    </div>    
                    <div id="docnotes-feed">
                        <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <input id="docnotes-createnote" class="note-body">
                        </div>
                        
                        
                        <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">das das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad asdas das dasd ad as</div><div class="note-date">11/23/5215</div>
                            </div>
                            <div class="note-body">hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi
                            asd  asdas dhasdhasdl jasdasd asd asd asd asd asdas das dasdasd asd asd asd asd asdas dasd asd asd asd asd asdas dasd asd asd asd asd asdas dasd asd asd asd asd asdas dasd asd asd asd asd asdas dasd asd asd asdasd asd asd asd asd asdas dasd asd asd dasd asd asd asd asd asdas dasd asd asd asd asd asdas dasd asd asd asd asd asdas dasd asd asd asd asd asdas dasd asd asd asd asd asdas asd asd asdas d asd asdas d a</div>
                        </div>
                        <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                        <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                        <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                        <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                        <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                                                <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                                                <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                                                <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                                                <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                                                <div class="docnotes-note">
                            <div class="note-header">
                                <div class="note-alias">alias</div><div class="note-date">alias</div>
                            </div>
                            <div class="note-body">hi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

