<div id="doc-container" ng-controller="DocviewController" ng-init="displayDocit()">
    <div id="doc-content">
        <button id="docview-directory-btn" class="directory-btn"
                type="button"
                title="Directory options."
                ng-show="!directoryShow"
                ng-click="toggleDirectory()"
                >|DIRECTORY|</button>
        <div id="docview-directory" class="directory highlight-disabled" ng-show="directoryShow">
            <div id="docview-directory-rating-container" class="directory-opt">
                <div id="docview-rateup-btn" 
                     title="Upvote Doc."
                     ng-click="rateUpDoc()">+1</div>
                
                <div id="docview-ratedown-btn" 
                     title="Downvote Doc." ng-click="rateDownDown()">-1</div>
            </div>
            
            <div id="docview-directory-copy-btn" 
                 class="directory-opt" 
                 title="Copy Doc's alias, date, title and body to clipboard."
                 ng-click="copyDoc()">|COPY|</div>
            <textarea id="docview-copytext" class="copytext"></textarea>
            
            <div id="docview-directory-export-btn" 
                 class="directory-opt" 
                 title="Export Doc as local .docx file."
                 ng-click="exportDoc()">|EXPORT|</div>
            
            <div id="docview-directory-edit-btn" 
                 class="directory-opt" 
                 title="Delete Doc." 
                 ng-show="showAuthorBtns"
                 ng-click="deleteDoc()">|DELETE|</div>
                 
            <div id="docview-directory-todocboard-btn" 
                 class="directory-opt" 
                 title="Go to Docboard."
                 ng-click="changePage('docboard')">|DOCBOARD|</div>
                 
            <div id="docview-directory-logout-btn" 
                 class="directory-opt" 
                 title="Log out current Alias."
                 ng-click="changePage('login')">|LOGOUT|</div>
        </div>
        
        <div id="docview" class="doc">
            <div id="docview-header" class="doc-header highlight-enabled">
                <h3 id="docview-alias" class="doc-alias highlight-enabled">ALIAS: {{ docAlias }}</h3>
                <h3 id="docview-date" class="doc-date">DATE: {{ docDate }}</h3>
                <h1 id="docview-title" class="doc-title">DOC: {{ docTitle }}</h1>
            </div>
            <textarea id="docview-body" class="doc-body" rows="20" cols="20" placeholder="It appears someone is coping with writer's block..." readonly>
{{ docBody }}
Disgusting blaze deep within the crevices of his skin,
Rawness, troubled underside turning outside,
Amidst the memories of mistakes and a bruised chin,
Gaze of a familiar countenance, once, summertime butterfly.

Up and down, grave history to be shoveled and shoved,
Hands on a glass figurine, mouth on fire itself,
Portraits pouring in stench - how beloved,
Yet in a quick crimson, no hesitation, past dispelled.

Dancing feet s on the hilltop, tumbleweeds in the gust,
Shortage of reach, of life, image of weeping dust,
Free in the wind, lost in the atmosphere,
Thick blankets fall, suppression of his anger and tears.

Through the wild of no doubts, blood races into oblivion.
Fused whole, the dust disappears in what he believes in.

Disgusting blaze deep within the crevices of his skin,
Rawness, troubled underside turning outside,
Amidst the memories of mistakes and a bruised chin,
Gaze of a familiar countenance, once, summertime butterfly.

Up and down, grave history to be shoveled and shoved,
Hands on a glass figurine, mouth on fire itself,
Portraits pouring in stench - how beloved,
Yet in a quick crimson, no hesitation, past dispelled.

Dancing feet s on the hilltop, tumbleweeds in the gust,
Shortage of reach, of life, image of weeping dust,
Free in the wind, lost in the atmosphere,
Thick blankets fall, suppression of his anger and tears.

Through the wild of no doubts, blood races into oblivion.
Fused whole, the dust disappears in what he believes in.

Disgusting blaze deep within the crevices of his skin,
Rawness, troubled underside turning outside,
Amidst the memories of mistakes and a bruised chin,
Gaze of a familiar countenance, once, summertime butterfly.

Up and down, grave history to be shoveled and shoved,
Hands on a glass figurine, mouth on fire itself,
Portraits pouring in stench - how beloved,
Yet in a quick crimson, no hesitation, past dispelled.

Dancing feet s on the hilltop, tumbleweeds in the gust,
Shortage of reach, of life, image of weeping dust,
Free in the wind, lost in the atmosphere,
Thick blankets fall, suppression of his anger and tears.

Through the wild of no doubts, blood races into oblivion.
Fused whole, the dust disappears in what he believes in.

Disgusting blaze deep within the crevices of his skin,
Rawness, troubled underside turning outside,
Amidst the memories of mistakes and a bruised chin,
Gaze of a familiar countenance, once, summertime butterfly.

Up and down, grave history to be shoveled and shoved,
Hands on a glass figurine, mouth on fire itself,
Portraits pouring in stench - how beloved,
Yet in a quick crimson, no hesitation, past dispelled.

Dancing feet s on the hilltop, tumbleweeds in the gust,
Shortage of reach, of life, image of weeping dust,
Free in the wind, lost in the atmosphere,
Thick blankets fall, suppression of his anger and tears.

Through the wild of no doubts, blood races into oblivion.
Fused whole, the dust disappears in what he believes in.

Disgusting blaze deep within the crevices of his skin,
Rawness, troubled underside turning outside,
Amidst the memories of mistakes and a bruised chin,
Gaze of a familiar countenance, once, summertime butterfly.

Up and down, grave history to be shoveled and shoved,
Hands on a glass figurine, mouth on fire itself,
Portraits pouring in stench - how beloved,
Yet in a quick crimson, no hesitation, past dispelled.

Dancing feet s on the hilltop, tumbleweeds in the gust,
Shortage of reach, of life, image of weeping dust,
Free in the wind, lost in the atmosphere,
Thick blankets fall, suppression of his anger and tears.

Through the wild of no doubts, blood races into oblivion.
Fused whole, the dust disappears in what he believes in.

Disgusting blaze deep within the crevices of his skin,
Rawness, troubled underside turning outside,
Amidst the memories of mistakes and a bruised chin,
Gaze of a familiar countenance, once, summertime butterfly.

Up and down, grave history to be shoveled and shoved,
Hands on a glass figurine, mouth on fire itself,
Portraits pouring in stench - how beloved,
Yet in a quick crimson, no hesitation, past dispelled.

Dancing feet s on the hilltop, tumbleweeds in the gust,
Shortage of reach, of life, image of weeping dust,
Free in the wind, lost in the atmosphere,
Thick blankets fall, suppression of his anger and tears.

Through the wild of no doubts, blood races into oblivion.
Fused whole, the dust disappears in what he believes in.
            </textarea>
        </div>
    </div>
</div>