<div id="doc-container" ng-controller="DocviewController" ng-init="init()">
    <div id="doc-content">
        <button class="directory-btn"
                type="button"
                title="Directory options."
                ng-show="!mainCtrl.directoryShow"
                ng-click="toggleDirectory()"
                >|DIRECTORY|</button>
        <div class="directory highlight-disabled" ng-show="mainCtrl.directoryShow">
            <div id="docview-directory-rating-container" class="directory-opt">
                <div id="docview-rateup-btn" title="Upvote Doc."
                     ng-click="rateUpDoc()">+1</div><div id="docview-ratedown-btn" 
                     title="Downvote Doc." ng-click="rateDownDoc()">-1</div>
            </div>

            <div class="directory-opt" 
                 title="Copy Doc's alias, date, title and body to clipboard."
                 ng-click="copyDoc()">|COPY|</div>
            <textarea id="docview-copytext" class="copytext"></textarea>

            <div class="directory-opt" 
                 title="Export Doc as local .docx file."
                 ng-click="exportDoc()">|EXPORT|</div>

            <div class="directory-opt" 
                 title="Delete Doc." 
                 ng-show="showAuthorBtns"
                 ng-click="deleteDocAction()">|DELETE|</div>

            <div class="directory-opt" 
                 title="Go to Docboard."
                 ng-click="changePage('docboard')">|DOCBOARD|</div>

            <div class="directory-opt" 
                 title="Log out current Alias."
                 ng-click="changePage('login')">|LOGOUT|</div>
        </div>

        <div id="docview" class="doc">
            <div id="docview-header" class="doc-header highlight-enabled">
                <h3 id="docview-alias" class="doc-alias highlight-enabled">ALIAS: {{ docAlias}}</h3>
                <h3 id="docview-date" class="doc-date">DATE: {{ docDate}}</h3>
                <h1 id="docview-title" class="doc-title">DOC: {{ docTitle}}</h1>
            </div>
            <textarea id="docview-body" class="doc-body" rows="20" cols="20" 
                      placeholder="It appears someone is coping with writer's block..." readonly
                      ng-model="docBody"></textarea>
        </div>
    </div>
</div>