<div id="doc-container" ng-controller="LoginController">
    <div id="doc-content">
        <div id="login-container">
            <h1>|DOCIT|</h1>
            <h2 class="typewriter"> Your composition, your narrative, your message - document it.</h2>
            <form id="login-form" ng-submit="loginSubmit()">
                <h3>Dear Me, my |ALIAS| is</h3>
                <input id="login-alias" type="text" required placeholder="type Alias" 
                       title="Enter your Alias." size="25"
                       ng-model="formAlias">,
                <h3>my password is</h3>
                <input id='not-human-displaynone' type="password" name="password-displaynone">
                <input id='not-human-hidden' type="hidden" name="password-hidden">
                <input id='not-human-offscreen' type="password" tabindex='-1' name="password-offscreen">
                <input id="login-password" type="password" required placeholder="type password"
                       title="Enter your password." size="25"
                       ng-model="formPassword">,
                <h3>and today, I'm itching to</h3>
                <button type="submit" ng-disabled="isSubmitting">| DOCIT |</button>
            </form>
            <div id="login-navigation">
                <p>Hmm, I don't have an |ALIAS| yet... Let's</p>
                <button type="button" ng-click="changePage('signup')">create one</button>.
            </div>
        </div>
    </div>
</div>