<div id="doc-container">
    <div id="doc-content">
        <div id="login-container">
            <h1>|DOCIT|</h1>
            <h2 class="typewriter"> Your composition, your narrative, your message - document it.</h2>
            <form id="login-form">
                <h3>Dear Me, my |ALIAS| is</h3>
                <input id="login-alias" type="text" required placeholder="type alias" size="25">,
                <h3>my password is</h3>
                <input id='not-human-displaynone' type="password" name="password-displaynone">
                <input id='not-human-hidden' type="hidden" name="password-hidden">
                <input id='not-human-offscreen' type="password" tabindex='-1' name="password-offscreen">
                <input id="login-password" type="password" required placeholder="type password" size="25">,
                <h3>and today, I'm itching to</h3>
                <button type="submit">| DOCIT |</button>
            </form>
            <div id="login-navigation">
                <p>Hmm, I don't have an |ALIAS| yet... Let's</p>
                <button id="login-tosignup-btn" type="button" >create one</button>.
            </div>
        </div>
    </div>
</div>