<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>|DOCIT|: Docboard</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/media.css"> 
        <script src="../js/Navigation.js"></script>
    </head>
    <body>
        <div data-toggle="modal">hihihihihihihihihihi</div>
        <div id="info-modal" class="modal">
            <div class="modal-window">
                {{ infoModalText }}{{ infoModalText }}{{ infoModalText }}{{ infoModalText }}{{ infoModalText }}{{ infoModalText }}{{ infoModalText }}
            </div>
        </div>
    </body>
</html>
