<div id="doc-container" ng-controller="SignupController" ng-init="init()">
    <div id="doc-content">
        <div id="signup-container">
            <h1>|DOCIT|</h1>
            <h2>Imagine your own |ALIAS| with its own style and character. Now, create it!</h2>
            <form id="signup-form" ng-submit="signupSubmit()">
                <h3>Registering with email,</h3>
                <input id='not-human-displaynone' type="email" name="email-displaynone">
                <input id='not-human-hidden' type="hidden" name="email-hidden">
                <input id='not-human-offscreen' type="email" tabindex='-1' name="email-offscreen">
                <input id='signup-email' type="email" required name="email" placeholder="type email"
                       title="Enter an unique, valid email."
                       size="30"
                       ng-model="formEmail">.
                <h3>My considerably professional, yet eccentric new |ALIAS| is</h3>
                <input id="signup-alias" type="text" required placeholder="type Alias" 
                       title="Enter an unique Alias with the following criteria:&#013;+ Alphanumeric characters [A-Z, a-z, 0-9] allowed.&#013;+ Minimum character length: Six (6).&#013;+ Maximum character length: Fifteen (15)."
                       size="25"
                       ng-model="formAlias">!
                <h3>My new cryptic password is</h3>
                <input id="signup-password" type="password" required placeholder="type password" 
                       title="Enter a password with the following criteria:&#013;+ Alphanumeric characters [A-Z, a-z, 0-9] allowed.&#013;+ Special characters [~!@#$%^&amp;*()_+[]{}|=-:;&quot;\'/?&gt;&lt;., ] allowed.&#013;+ Minimum character length: Six (6)." 
                       size="25"
                       ng-model="formPassword">.
                <h3>And just to make sure I got that right, the password was</h3>
                <input id="signup-password-confirm" type="password" required placeholder="retype password" 
                       title="Retype your password to confirm correctness." 
                       size="25"
                       ng-model="formPasswordConfirm">.
                <h3>OK, good enough. Let's do it.</h3>
                <button class="submit-btn" type="submit">|CREATE|</button>
            </form>
            <div id="signup-navigation">
                <p>Forget it. I want to go</p>
                <button id='signup-tologin-btn' type="button" ng-click="changePage('login')">back</button>.
            </div>
        </div>
    </div>
</div>