/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2017, 9:16:46 PM
    Author     : Jason Tan
*/

/* Smartphones (portrait and landscape) ----------- */
/* Portrait Focused Display */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /**************************************************************
     *                             GENERAL                        *
     **************************************************************/
    #doc-container {
        /* Doc static width of 320px and 90% viewport height,
           and width:max-height ratio based on golden ratio , 1:1.618 */
        width: 320px;
        height: 90vh;
        max-height: 517px;
        
        border: 5px solid teal;
    }

    .typewriter {
        letter-spacing: -1px;
        border-right: 1px solid black;  /* The typwriter cursor */
    }
    /**************************************************************
     *                             SIGNUP                         *
     **************************************************************/
    #login-container > h1 {
        font-size: 20px;
    }

    #login-container > h2 {
        font-size: 10px;
    }
    
    #login-form {
        margin-top: 20%;
    }
    
    #login-form > * {
        font-size: 16px;
    }

    #login-navigation > *{
        font-size: 10px;
    }
}

/* Smartphones (landscape) ----------- */
/* Width-Scale Focused Display */
@media only screen 
and (min-device-width : 321px)
and (orientation : landscape) {
    /**************************************************************
     *                             GENERAL                        *
     **************************************************************/
    #doc-container {
        /* Doc width:height ratio based on golden ratio, 1:1.618,
           and 90% viewport height */
        width: 55.623vh;
        height: 90vh;
        min-width: 321px;
        max-width: 55.623vw;

        border: 5px solid pink;
    }

    .typewriter {
        letter-spacing: -0.75px;
        border-right: 2px solid black;  /* The typwriter cursor */
    }
    /**************************************************************
     *                             SIGNUP                         *
     **************************************************************/
    #login-container > h1 {
        font-size: calc(20px + 1vw);
    }

    #login-container > h2 {
        font-size: calc(5px + .8vw);
    }
    
    #login-form {
        margin-top: 35%;
    }
    
    #login-form > * {
        font-size: calc(15px + 1vw);
    }

    #login-navigation > *{
        font-size: calc(6px + 0.7vw);
    }
}

/* Smartphones (portrait) ----------- */
/* Slight Width-Scale Focused Display */
@media only screen 
and (max-device-width : 320px) {
    /**************************************************************
     *                             GENERAL                        *
     **************************************************************/
    #doc-container {
        /* Doc with 75% viewport width and 90% viewport height */
        width: 75vw;
        height: 90vh;
        max-height: 453px;
        
        border: 5px solid purple;
    }

    .typewriter {
        letter-spacing: -0.25px;
        border-right: 1px solid black;  /* The typwriter cursor */
    }
    /**************************************************************
     *                             SIGNUP                         *
     **************************************************************/
    #login-container > h1 {
        font-size: calc(16px + .5vw);
    }

    #login-container > h2 {
        font-size: calc(5px + 0.3vw);
    }
    
    #login-form {
        margin-top: 30%;
    }

    #login-form > * {
        font-size: calc(11px + .5vw);
    }

    #login-navigation > *{
        font-size: calc(6px + .2vw);
    }
}

/* iPads (portrait and landscape (primarily portrait)) ----------- */
/* Portrait Focused Display */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    /**************************************************************
     *                             GENERAL                        *
     **************************************************************/
    #doc-container {
        /* Doc static width of 768px and 90% viewport height,
           and width:max-height ratio based on golden ratio , 1:1.618 */
        width: 768px;
        height: 90vh;
        max-height: 1245px;
        
        border: 5px solid blue;
    }

    .typewriter {
        letter-spacing: 1px;
        border-right: 3px solid black;  /* The typwriter cursor */
    }
    /**************************************************************
     *                             SIGNUP                         *
     **************************************************************/
    #login-container > h1 {
        font-size: 32px;
    }

    #login-container > h2 {
        font-size: 17px;
    }
    
    #login-form {
        margin-top: 19%;
    }
    
    #login-form > * {
        font-size: 27px;
    }

    #login-navigation > *{
        font-size: 18px;
    }
}

/* iPads (landscape) ----------- */
/* Width-Scale Focused Display */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /**************************************************************
     *                             GENERAL                        *
     **************************************************************/
    #doc-container {
        /* Doc height:width ratio based on golden ratio, 1:1.618,
           and 90% viewport width */
        width: 90vw;
        height: 55.623vw;
        min-width: 768px;
        max-width: 1004px;
        max-height: 90vh;
        
        border: 5px solid green;
    }

    .typewriter {
        letter-spacing: 1px;
        border-right: 3px solid black;  /* The typwriter cursor */
    }
    /**************************************************************
     *                             SIGNUP                         *
     **************************************************************/
    #login-container > h1 {
        font-size: calc(18px + 1.2vw);
    }

    #login-container > h2 {
        font-size: calc(10px + .7vw);
    }
    
    #login-form {
        margin-top: 5vw;
    }
    
    #login-form > * {
        font-size: calc(11px + 1.2vw);
    }

    #login-navigation > * {
        font-size: calc(12px + .5vw);
    }
}

/* Desktop screens ----------- */
/* Static Focused Display */
@media only screen {
     /**************************************************************
     *                             GENERAL                        *
     **************************************************************/
    #doc-container {
        /* Doc static width of 320px and 90% viewport height,
           and width:max-height ratio based on golden ratio , 1:1.618 */
        width: 800px;
        height: 90vh;
        min-width: 800px;
        max-width: 800px;
        min-height: 700px;
        max-height: 1456px;
        
        border: 5px solid black;
    }

    .typewriter {
        letter-spacing: 2px;
        border-right: 4px solid black;  /* The typwriter cursor */
    }
    /**************************************************************
     *                          SIGNUP/LOGIN                      *
     **************************************************************/
    #login-container > h1 {
        font-size: 30px;
    }

    #login-container > h2 {
        font-size: 16px;
    }
    
    #login-form {
        margin-top: 22%;
    }
    
    #login-form > * {
        font-size: 25px;
    }

    #login-navigation > *{
        font-size: 17px;
    }
}