/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2017, 10:46:00 PM
    Author     : Jason Tan
*/


/**************************************************************
 *                             GENERAL                        *
 **************************************************************/
body {
    background-color: #f2f5f5;  /* Slight blue-ish background */
    padding: 20px;
}

body * {
    font-family: 'Courier New', monospace;  /* Typewriter-like font */
    font-size: 12px;
    text-shadow: 0.25px 0.35px #c2c5c5;
}

/* Input style: simple, underlined fields with highlighted, pencil cursor on hover */
input {
    text-align: center;
    color: #666666;
    border: none;
    border: 1px solid transparent;
    border-bottom: black 2px inset;
    background-color: transparent;
    
    &:hover {
        
    }
}
input:hover {
    background-color: #ffff99;
    cursor: url('../resources/pencil_cursor.cur'), auto;
}
input:focus {
    border-bottom: black 2px outset;
}
input:focus::placeholder {
    color: #999999;
}

/* Button style: simple black-and-white button with color inversion, pointer cursor on hover */
button {
    text-align: center;
    color: black;
    border: 2px solid black;
    background-color: white;
}
button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

#doc-container {
    position: absolute;
    margin: auto;
    padding: 25px 20px 25px 20px;
    left: 0; right: 0;   /* horizontal center */
    top: 0; bottom: 0;   /* vertical center */

    /* Paper-esque styling */
    background-image: url('../imgs/white_paper25.jpg');
    background-color: #fcfcfc;
    border: 1px #eeeeee solid;
    box-shadow: 0px 12px 35px #bbbbbb, -5px 8px 10px black;
    cursor: text;

    /* See media.css for #doc-container width, height */
}

#doc-content {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar in IE 10+ */
    overflow: -moz-scrollbars-none;  /* Hide scrollbar in Firefox */
    height: 100%;
}
#doc-content::-webkit-scrollbar { 
    display: none;  /* Hide scrollbar in Safari and Chrome */
}
#doc-content *::selection {
    background-color: #ffffaa;  /* Yellow when highlighting text */
}
#doc-content *::-moz-selection {
    background-color: #ffffaa;
}

/* Type-writer animation */
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
        typing 2.5s steps(30, end),
        blink-caret .2s step-end infinite;
    animation-fill-mode: forwards;

    /* See media.css for .typewriter letter-spacing, border-right */
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

/**************************************************************
 *                          SIGNUP/LOGIN                      *
 **************************************************************/
#login-container > h1, #signup-container > h1 {
    font-weight: bolder;
    margin: 0 0 5px 0;
    /* See media.css for #login-container > h1, #signup-container > h1 font-size */
}

#login-container > h2, #signup-container > h2 {
    margin: 0 0 5px 0;
    font-weight: bold;
    font-style: italic;

    /* See media.css for #login-container > h2, #signup-container > h2 font-size */
}

#login-form, #signup-form {
    text-align: center;

    /* See media.css for #login-form, #signup-form height */
}

#login-form > h3, #signup-form > h3 {
    font-weight: lighter;
    margin: 14px 0px 6px 0px;
}

#login-form > *, #signup-form > * {
    /* See media.css for #login-form > *, #signup-form > * font-size */
}

#not-human-displaynone {
    display: none;
}

#not-human-offscreen {
    position: absolute;
    left: -9000px;
}

#login-navigation, #signup-navigation {
    margin-left: 20px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#login-navigation > *, #signup-navigation > * {
    font-weight: bold;
    display: inline-block;

    /* See media.css for #login-navigation > *, #signup-navigation > * font-size */
}

/**************************************************************
 *                             DOCIT                          *
 **************************************************************/
#docit-body:hover {
    cursor: url('../resources/pencil_cursor.cur'), auto;
}

/**************************************************************
 *                            DOCVIEW                         *
 **************************************************************/
#docview-body {
    color: #555555;
}
#docview-body:hover {
    cursor: n-resize;
}   

/**************************************************************
 *                        DOCIT + DOCIEW                      *
 **************************************************************/
.doc {
    height: 100%;
}

.doc-header > * {
    /* See media.css for .doc-header > * margin, font-size */
}
.doc-alias, .doc-date {
    font-weight: normal;
    
    /* See media.css for .doc-alias, .doc-date display */
}
.doc-name {
    font-style: italic;
    font-weight: bold;
}

/* Textarea for typing docs, no background with vertical scrollability */
.doc-body {
    background: none;
    border: none;
    resize: none;
    overflow-y: scroll;
    
    /* See media.css for .doc-body width, height */
}

/**************************************************************
 *                            DOCBOARD                        *
**************************************************************/
#docboard {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

#docboard > * {
    margin: 0;
}

#docboard > h2 {
    font-size: 14px;
}

#docboard-header > * {
    display: inline-block;
    padding: 0 0 10px 0;
    margin: 0;
}

#docboard-header > h1 {
    font-size: 26px;
    margin: 0;
}
#docboard-alias {
    font-size: 14px;
}

#docboard-docs {
    flex: 1;
    background-color: lightblue;
}

#docboard-feed {
    flex: 1;
    background-color: lightgreen;

}

/**************************************************************
 *                    DOCIT + DOCVIEW + DOCBOARD              *
 **************************************************************/
.directory-btn {
    padding: 8px 3px 7px 3px;
}

.directory-btn, .directory {
    position: absolute;  /* Directory float right, allow for menu overlap */
    right: 25px;
}

/* Directory menu */
.directory {
    width: 83px;  /* Overlap directory button width (button's width is 77px) */
    border: 2px solid black;
    background: white;
    color: black;
    display: none;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
}

/* Directory menu options, simple black-and-white buttons with color inversion, pointer cursor on hover */
.directory-opt {
    width: 100%;
    text-align: center;
    padding: 8px 0 7px 0;
}
.directory-opt:not(:last-child) {
    border-bottom: 1px black solid;
}
.directory-opt:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

